ion-badge{
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.category-block{
    margin-bottom: 4px;
}
.category-banner{
    border-left: 8px solid var(--ion-color-primary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}
ion-fab-button{
    height: 70px;
    width: 70px;
}
.cart-icon{
    font-size:50px
}
.cart-length{
    color: var(--ion-color-primary);
    position: absolute;
    top:2px;
    left:23px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .prod-img{
      height: 150px;
  }